@media (max-width: 1280px){
  .cabecalho ul{
    display: none;
  }
  .bttnDesk{
    display: none;
  }
}
@media (min-width: 1280px){
  .mobim{
    display: none;
  }
  .cabecalho{
    background-image: url(images/desktop/image-hero.jpg);
    
  }
  .cabecalho h1{
    margin: 0.5em;
    font-size: 4em;
  }
  .hdrCont{
    margin: 9em;
    margin-top: 4em;
    margin-bottom: 10em;
  }
  .hdrCont img{
    width: 14vw;
  }
  .menu{
    width: auto;
  }
  .cabecalho ul li{
    margin-left: 2em;
    font-weight: 800;
    font-size: 1em;
  }
  .wraptext{
    width: 42em;
    margin-bottom:2em;
    margin-top: 6em;
  }
  section img{
    width: 45em;
    align-self: flex-start;
    margin-top: 10em;
  }
  .imgText{
    display: flex;
    position: relative;
    width: 70em;
    
  }
  section p{
    width: auto;
    margin: 0;
  }
  section h1{
    font-size: 3em;
    margin-top: 0;
  }
  article{
    position: absolute;
    bottom:0;
    left: 50%;
    background-color: white;
    max-width: 30em;
    text-align: left;
    padding: 5em;
    padding-bottom: 0;
    padding-right: 0;
    
  }
  .mainGrid{
    grid-template-columns: auto auto auto;
  }
  .box{
    width: 13em;
    height: 22em;
    margin: 1em;
    font-size: 1.3em;
  }
  .box p{
    margin-left: 1em;
    width: 6em;
  }
  .grad{
    background: linear-gradient(0deg, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0) 100%);
  }
  .deep{
    background-image: url(images/desktop/image-deep-earth.jpg);
  }
  .night{
    background-image: url(images/desktop/image-night-arcade.jpg);
  }
  .soccer{
    background-image: url(images/desktop/image-soccer-team.jpg);
  }
  .tgrid{
    background-image: url(images/desktop/image-grid.jpg);
  }
  .tgrid p{
    width: 20%;
  }
  .fuav{
    background-image: url(images/desktop/image-from-above.jpg);
  }
  .pocket{
    background-image: url(images/desktop/image-pocket-borealis.jpg);
  }
  .tcuri{
    background-image: url(images/desktop/image-curiosity.jpg);
  }
  .fish{
    background-image: url(images/desktop/image-fisheye.jpg);
  }
  .bttnMobi{
    display: none;
  }
  .btnnCrea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76em;
    margin-bottom: 4em;
    margin-top: 11em;
  }
  .bttnDesk{
    width: 10em;
    height: 3em;
    border: 1px solid black;
    background-color: white;
    letter-spacing:5px;
    font-size: 1em;
  }
  .crea{
    margin: 0;
  }
  .rodape{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 11em;
  }
  .rodape ul{
    display: flex;
    margin-top: 2em;
  }
  .rodape ul li{
    margin-left: 0;
  }
  .rodColor{
    margin: 0;
    margin-top: 1em;
  }
  .rodape .logord{
    width: 10vw;
    margin: 0;
  }
  .roda1{
    align-items: flex-start;
   
    margin-left: 6em;
    
  }
  .roda2{
    align-items: flex-end;
    text-align: end;
    margin-top: 2em;
    margin-right: 6em;
    margin-bottom: 2em;
  }
  .sn{
    margin: 0;
  }
}
@media (min-width: 1360px){
  .mainGrid{
    grid-template-columns: auto auto auto auto;
  }
}